@import url(_variaveis.css); /*importa o arquivo variaveis.css*/
@import url(_reset.css);

body {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color: var(--cinza);
    
    background: url(../../img/fundo-textura.png), url(../../img/fundo-linhas.png);
    background-position: center;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.titulo {
   font-size: var(--tamanho-titulo);
}

.titulo--destaque {
    font-family: var(--familia-titulo-destaque);
    color: var(--preto);
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);

    display: block; /*força o titulo a quebrar linha*/

    margin-top: .75rem; /*espaçamento entre o fim do titulo e o proximo elemento da pagina*/
    margin-bottom: .75rem;
}

.alinhamento--esquerda {
    text-align: left;
}

.alinhamento--meio {
    text-align: center;
}

.texto { /*espaçamento entre linhas do texto do site*/
    line-height: 26px;
}